@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap&Montserrat:wght@600&display=swap');
:root{
    --cor-primaria: #000000;
    --cor-secundaria: #EEEEEE; 
    --cor-terciaria: #068FFF;
    --cor-hover: #4E4FEB;
    --fonte-titulo: 'Krona One', sans-serif;;
    --fonte-texto: 'Montserrat', sans-serif;;
    --tamanho-fonte: 1.5rem;
}
*{  
    
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
hr{
    border-color: #1287E6; 
    margin-right: 5vh;
   }

.apresentacao{
    gap: 82px;
    margin: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.apresentacao__conteudo{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.cabecalho__menu__link{
    font-family: var(--fonte-texto);
    font-weight: 600;
    font-size: var(--tamanho-fonte);
    color: var(--cor-terciaria);
}
.cabecalho__menu__link:hover{
    font-family: var(--fonte-texto);
    font-weight: 600;
    font-size: var(--tamanho-fonte);
    color: var(--cor-secundaria);
    transition: ease-in-out 0.3s;
}
.cabecalho__menu{
    display: flex;
    gap: 20vh;
}
body{
    box-sizing: border-box;
    padding-top: 2vh;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}
h1{
    font-weight: bold;
}
strong{
    color: var(--cor-terciaria);
}
.Java{
    color: #c26903;
}
.React{
    color: #01adc7;
}
.SQL{
    color: #b91001;
}
.HTML{
    color: #d14803;
}
.CSS{
    color: #0371b9;
}
.apresentacao__conteudo__titulo{
    font-size: 2.25rem;
    font-family: var(--fonte-titulo);
}
.apresentacao__conteudo__texto{
    padding-top: 2vh;
    font-family: var(--fonte-texto);
    font-size: var(--tamanho-fonte);
    line-height: 2,25rem;
    padding-bottom: 2vh;
}

.apresentacao__links{
    gap: 1px;
    display: flex;
    justify-content: space-between;
}


.apresentacao__links__subtitulo{
    font-family: var(--fonte-titulo);
    font-weight: 400;
    font-size: 1.1rem;
    padding: 5% 0 5% 30%;
}
.apresentacao__links__navegacao{
    display: flex;
    justify-content: center;
    gap: 2vh;
    border: 2px solid var(--cor-terciaria);
    width: 30vh;
    text-align: center;
    border-radius: 17px;
    font-size: var(--tamanho-fonte);
    padding: 21.5px 0;
    font-family: var(--fonte-texto);
    color: var(--cor-secundaria);
    font-weight: 600;
}
.apresentacao__links__navegacao:hover{
    display: flex;
    justify-content: center;
    gap: 2vh;
    border: 2px solid var(--cor-terciaria);
    width: 30vh;
    text-align: center;
    
    font-size: var(--tamanho-fonte);
    padding: 21.5px 0;
    font-family: var(--fonte-texto);
    color: var(--cor-secundaria);
    font-weight: 600;
    background-color: var(--cor-hover);
    transition: ease-in-out 0.5s;
}

.programador{
    border-radius: 120px;
    max-width: auto;
    max-height: auto;
    width: 40%;
    
}
.programador__video{
    width: 540px;
    height: auto;
}
.cabecalho{
    padding: 3vh 0 0 25%;
}

.curriculo{
    margin: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.curriculo__conteudo__titulo{
    
    padding-top: 5vh;
    font-size: var(--tamanho-fonte);
    font-family: var(--fonte-titulo);
}
.apresentacao__conteudo__title{
    align-items: center;
    display: flex;
    gap: 2vh;
}
.apresentacao__conteudo__imagem{
    width: 45px;
    height: 45px;
}
.curriculo__conteudo__texto a{
    color: var(--cor-terciaria);
}
.curriculo__conteudo__texto a:hover{
    color: var(--cor-hover);
    transition: ease-in-out 0.3s;
}
.curriculo__conteudo__texto__descricao{
    padding: 1vh 0vh 2vh 0vh;
}
.apresentacao__conteudo__texto__paragrafo{
    color: #aaaaaa;
    padding: 2vh 0vh 0vh 1vh;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 25px;
}
.apresentacao__conteudo__texto__status{
    font-family: var(--fonte-texto);
    font-size: 18px;
    padding-bottom: 1vh;
    
}

.rodape{
    
    gap: 1rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    padding: 3vh 0vh 3vh 0vh;
    color: var(--cor-secundaria);
    background-color: var(--cor-terciaria);
    font-family: var(--fonte-texto);
    font-weight: 600;
}


@media(max-width: 1200px){
    .cabecalho{
        padding: 5%;
    }
    .cabecalho__menu{
        gap: 10vh;
        margin: 0;
    }
    .cabecalho__menu__link:hover{
        font-size: 1rem;
    }
    .apresentacao__conteudo__titulo{
        width: auto;
        padding-left: 2rem;
    }
    .apresentacao__conteudo__texto{
        width: auto;
        font-size: 1rem;
        padding-left: 2rem;
    }
    
    .cabecalho__menu{
        justify-content: center;
    }
    .cabecalho__menu__link{
        font-size: 1rem;
    }
    .apresentacao{
        flex-direction: column-reverse;
        gap: 82px;
    }
    .apresentacao__conteudo{
        width: auto;
    }
    .apresentacao__links__subtitulo{
        padding: 4% 0rem 2rem 30%;
        
    }
    
    .apresentacao__links{
        align-items: center;
        flex-direction: column;
        gap: 11px;
    }
    .curriculo{
        flex-direction: column;
    }
    .curriculo__conteudo__titulo{
        padding: 0 0 0 2rem;
    }
    .apresentacao__conteudo__texto__status{
        padding-left: 2rem;
    }
    
    hr{
        
        margin-left: 3.5vh;
        margin-right: 5vh;
    }
    .rodape{
        grid-template-columns: repeat(2, 1fr);
    }

}
